<nav role="navigation" class="Navigation u-alignMiddle">
    <ul class="List List--stack">
        <li class="List-item"><a href="?url=start"><span class="Icon Icon-play_circle_outline"></span> SK Play</a></li>
        <li class="List-item"><a href="#" data-module="modal" data-modal='{"mediaUrls": "http://new.livestream.com/skplay-sv/gudstjanst,http://new.livestream.com/skplay-en/gudstjanst,http://new.livestream.com/skplay-es/gudstjanst"}'><span class="Icon Icon-tree"></span> Sunday service</a></li>
        <li class="List-item"><a href="?url=conferences"><span class="Icon Icon-blur_circular"></span> Conferences</a></li>
        <li class="List-item"><a href="?url=events-concerts"><span class="Icon Icon-modern-mic"></span>Events & Concerts</a></li>
        <li class="List-item"><a href="#" data-module="modal" data-modal='{"mediaUrls": "https://vimeopro.com/sodermalmskyrkan/lateshow"}'><span class="Icon Icon-event_seat"></span> Stockholm Lateshow</a></li>
        <li class="List-item"><a href="?url=documentaries-interviews"><span class="Icon Icon-mic2"></span> Documentaries & interviews</a></li>
<!--        <li class="List-item"><a href="contact"><span class="Icon Icon-local_post_office"></span> Contact & Support</a></li>-->
    </ul>
</nav>