<div class="u-size1of1">
    <button class="Button Button--xSmall">xsmall button</button>
    <button class="Button Button--small">small button</button>
    <button class="Button">default button</button>
    <button class="Button Button--large">large button</button>
    <button class="Button Button--xLarge">xlarge button</button>
</div>

<div class="u-size1of1 u-gutterY">
    <button class="Button Button--large Button--light">light button</button>
    <button class="Button Button--large">default button</button>
    <button class="Button Button--large Button--blue">blue button</button>
    <button class="Button Button--large Button--red">red button</button>
    <button class="Button Button--large Button--green">green button</button>
    <button class="Button Button--large Button--disabled">disabled button</button>
</div>

<div class="u-size1of1">
    <button class="Button Button--large Button--light Button--ghost">light button</button>
    <button class="Button Button--large Button--ghost">default button</button>
    <button class="Button Button--large Button--blue Button--ghost">blue button</button>
    <button class="Button Button--large Button--red Button--ghost">red button</button>
    <button class="Button Button--large Button--green Button--ghost">green button</button>
    <button class="Button Button--large Button--disabled Button--ghost">disabled button</button>
</div>


<div class="u-size1of1 u-gutterY">
    <button class="Button Button--green Button--circle"><span class="Icon Icon-dots-three-horizontal"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-download"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-trash"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-attachment"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-menu"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-heart"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-info"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-location-pin"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-tools"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-cog"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-clear"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-create"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-notifications"></span></button>
    <button class="Button Button--green Button--circle"><span class="Icon Icon-comment"></span></button>
</div>