<div class="Grid Grid--withGutter">
    <div class="Grid-cell u-size1of3">
        <div class="Form">
            <div class="Form-field">
               <label>Label</label>
                <input type="text" placeholder="input for text, mail, ">
                <span class="Form-validation"></span>
            </div>
            <div class="Form-field">
               <label>Label</label>
                <input type="password" placeholder="password">
                <span class="Form-validation"></span>
            </div>
            <div class="Form-field">
               <label>Label</label>
                <textarea cols="30" rows="10" placeholder="textarea"></textarea>
                <span class="Form-validation"></span>
            </div>     
        </div>
    </div>

    <div class="Grid-cell u-size1of3">
        <div class="Form">
            <div class="Form-field">
                <label>
                   <span class="Form-label">Select dropdown</span>
                    <select>
                        <option>Select dropdown</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                    <span class="Form-validation"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="Grid-cell u-size1of3">
        <div class="Form">
            <div class="Form-field">
                <label class="Form-checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="Form-label">Checkbox</span>
                    <span class="Form-validation"></span>
                </label>
            </div>
            <div class="Form-field">
                <label class="Form-checkbox">
                    <input type="radio" name="" value="">
                    <span class="Form-label">Radio</span>
                    <span class="Form-validation"></span>
                </label>
            </div>

            <div class="Form-field">
                <label class="Form-checkbox">
                    <input type="checkbox" name="" value="">
                    <span class="Form-switch">
                        <span class="Form-switch-handle"></span>
                    </span>
                    <span class="Form-label">Checkbox</span>
                    <span class="Form-validation"></span>
                </label>
            </div>
        </div>
    </div>
</div>