<!-- See latest sunday service -->
<div class="Hero u-fullSizeBg u-fullHeight u-textCenter" data-module="modal" data-modal='{"mediaUrls": "http://new.livestream.com/skplay-sv/gudstjanst"}'>
	<div class="u-wrapper u-textCenter Type--alabaster">
		<div class="u-inlineBlock u-alignMiddle">
            <p class="Type-serif Type-italic">See our latest</p>
		    <h1 class="Type-large">Sunday service</h1>
		    <!-- <a href="#"><img src="Assets/Images/play-white.png" class="Hero-play" alt=""></a> -->
		</div>
	</div>
</div>