<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Site title</title>
	
	<link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/Assets/Images/favico.ico">
	
	<base href="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 

	<link rel="stylesheet" type="text/css" rel="stylesheet" href="{{site.baseurl}}/Assets/Styles/main.css" />	

    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-7613929-13', 'auto');
      // ga('send', 'pageview');
    </script>

</head>
<body>

{% include blocks/header.html %}

	<!-- Content from page or other template -->
	{{ content }}
	
{% include blocks/footer.html %}